{% extends 'BackOffice/navbars.html.twig' %}

{% block body %}
<div class="card-body">
    <h5 class="card-title"><strong>Transportation Table</strong></h5>


    <!-- Add Transportation Button -->
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('createT') }}" class="btn btn-primary">Add Transportation</a>
    </div>

    <!-- Default Table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                
                <th scope="col">Actions</th> {# Use text-right to align to the right #}
            </tr>
        </thead>
        <tbody>
            {% for transport in transportList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ transport.typeT }}</td>
                                <td>{{ transport.country }}</td>

                <td class="text-right"> {# Apply text-right class to align buttons to the right #}
                    <a href ="{{ path('updateT', {'id': transport.id}) }}" class="btn btn-custom-primary">Update</a> |
                    <a href ="{{ path('deleteT', {'id': transport.id}) }}" class="btn btn-custom-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End Default Table Example -->
</div>
<style>
    .btn-custom-primary {
        color: #fff;
        background-color: #98ed6d;
        border-color: #98ed6d;
    }
     .btn-custom-primary:hover {
        color: #fff;
        background-color: #6bab4b;
        border-color: #6bab4b;
    }
    .btn-custom-danger {
        color: #fff;
        background-color: #ed6d6d;
        border-color: #ed6d6d;

    }
    .btn-custom-danger:hover {
        color: #fff;
        background-color: #fa3c3c;
        border-color: #fa3c3c;
    }
</style>
{% endblock %}
