{% extends 'BackOffice/navbars.html.twig' %}

{% block main %}
{% block status %} 
{% endblock %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Update claim</h4>
                </div>
                <div class="card-body">
                    {{ form_start(Claims) }}
                    <div class="mb-3">
                        {{ form_label(Claims.title) }}
                        {{ form_widget(Claims.title, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.title) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(Claims.description) }}
                        {{ form_widget(Claims.description, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.description) }}
                    </div>
                   
                    <div class="mb-3">
                        {{ form_label(Claims.createDate) }}
                        {{ form_widget(Claims.createDate, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.createDate) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(Claims.state) }}
                        {{ form_widget(Claims.state, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.state) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(Claims.fkC) }}
                        {{ form_widget(Claims.fkC, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.fkC) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(Claims.reply) }}
                        {{ form_widget(Claims.reply, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(Claims.reply) }}
                    </div>
                    
                    
                    <button id="submit-btn" type="submit" class="btn btn-primary">Update</button>
                    {{ form_end(Claims) }}
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
    <br>
{% endblock %}