	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="frontoffice/css/linearicons.css">
			<link rel="stylesheet" href="frontoffice/css/owl.carousel.css">
			<link rel="stylesheet" href="frontoffice/css/font-awesome.min.css">
			<link rel="stylesheet" href="frontoffice/css/nice-select.css">			
			<link rel="stylesheet" href="frontoffice/css/magnific-popup.css">
			<link rel="stylesheet" href="frontoffice/css/bootstrap.css">
			<link rel="stylesheet" href="frontoffice/css/main.css">
		</head>
		<body>
					


				


			<script src="frontoffice/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="frontoffice/js/vendor/bootstrap.min.js"></script>
			<script src="frontoffice/js/owl.carousel.min.js"></script>
			<script src="frontoffice/js/jquery.sticky.js"></script>
			<script src="frontoffice/js/jquery.nice-select.min.js"></script>			
			<script src="frontoffice/js/parallax.min.js"></script>
			<script src="frontoffice/js/jquery.magnific-popup.min.js"></script>
			<script src="frontoffice/js/main.js"></script>	
		</body>
	</html>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="/backoffice/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/backoffice/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/backoffice/assets/css/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="backoffice/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="img/logo-back.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

       
            

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Monuments</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
    <a href="{{ path('addF') }}">
        <i class="bi bi-circle"></i><span>Add Monuments</span>
    </a>
</li>

      <li>
    <a href="/fetch">
        <i class="bi bi-circle"></i><span>Show Monuments</span>
    </a>
</li>
          <li>
    <a href="{{ path('addc') }}">
        <i class="bi bi-circle"></i><span>Add Country</span>
    </a>
</li>
<li>
    <a href="{{ path('country_show') }}">
        <i class="bi bi-circle"></i><span>Show Country</span>
    </a>
</li>
        </ul>
      </li><!-- End Components Nav -->


      
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
{% block title %}Monuments per Country{% endblock %}

{% block body %}
    <h1>Monument Statistics by Country</h1>
    <canvas id="monumentsChart" style="max-height: 400px; display: block;"></canvas>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('monumentsChart').getContext('2d');
            var monumentsChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ labels | json_encode | raw }},
                    datasets: [{
                        label: 'Number of Monuments',
                        data: {{ data | json_encode | raw }},
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            });
        });
    </script>
    <!-- Add Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
