<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<title>Tourjoy - Dashboard</title>
		<meta content="" name="description">
		<meta
		content="" name="keywords">

		<!-- Favicons -->
		<link href="img/tourjoy.png" rel="icon">
		<link
		href="img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link href="https://fonts.gstatic.com" rel="preconnect">
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{ asset('backoffice/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('backoffice/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
		<link href="{{ asset('backoffice/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
		<link href="{{ asset('backoffice/assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
		<link href="{{ asset('backoffice/assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
		<link href="{{ asset('backoffice/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
		<link
		href="{{ asset('backoffice/assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link
		href="{{ asset('backoffice/assets/css/style.css') }}" rel="stylesheet">


	<!-- =======================================================
		  * Template Name: NiceAdmin
		  * Updated: Jan 29 2024 with Bootstrap v5.3.2
		  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
		  * Author: BootstrapMade.com
		  * License: https://bootstrapmade.com/license/
		  ======================================================== -->
	</head>


	<body>

		{% set user = app.user %}


		<main
			id="main" class="main">

			<!-- ======= Header ======= -->
			<header id="header" class="header fixed-top d-flex align-items-center">

				<div class="d-flex align-items-center justify-content-between">
					<a href="/admin" class="logo d-flex align-items-center">
						<img src="img/tourjoy-white.png" alt="">
						<span class="d-none d-lg-block">TourJoy</span>
					</a>
					<i class="bi bi-list toggle-sidebar-btn"></i>
				</div>
				<!-- End Logo -->

				{# <div class="search-bar">
					<form class="search-form d-flex align-items-center" method="POST" action="#">
						<input type="text" name="query" placeholder="Search" title="Enter search keyword">
						<button type="submit" title="Search">
							<i class="bi bi-search"></i>
						</button>
					</form>
				</div> #}
				<!-- End Search Bar -->

				<nav class="header-nav ms-auto">
					<ul class="d-flex align-items-center">

						<li class="nav-item d-block d-lg-none">
							<a class="nav-link nav-icon search-bar-toggle " href="#">
								<i class="bi bi-search"></i>
							</a>
						</li>
						<!-- End Search Icon-->

						<li class="nav-item dropdown">

							
							<!-- End Notification Icon -->

							
							<!-- End Notification Dropdown Items -->

						</li>
						<!-- End Notification Nav -->

						<li class="nav-item dropdown">

							<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-bell"></i>
								<span class="badge bg-success badge-number"></span>
							</a>
							<!-- End Messages Icon -->

							<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
								{% if notifications is empty %}
									<div class="dropdown-header">No new notifications</div>
								{% else %}
									<div class="dropdown-header">
										You have
										{{ notifications|length }}
										new notifications
										<a href="#">
											<span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
										</a>
									</div>
									<hr class="dropdown-divider">

									{% for notification in notifications %}
										<div
											class="message-item">
											<!-- If you have an image or icon to represent the notification, include it here -->
											<div>
												<h4>{{ notification.title|default('Notification') }}</h4>
												<p>{{ notification.message }}</p>
												<p>{{ notification.createdAt|ago }}</p>
												<p>{{ notification.user}}</p>
											</div>
										</div>
										<hr class="dropdown-divider">
									{% endfor %}

									<div class="dropdown-footer">
										<a href="#">Show all messages</a>
									</div>
								{% endif %}
							</div>


							<!-- End Messages Dropdown Items -->

						</li>
						<!-- End Messages Nav -->

						<li class="nav-item dropdown pe-3">

							<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
								{% if user.profilePicture %}
									<img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture" class="rounded-circle" style="max-height: 28px; max-width: 28px">
								{% else %}
									<img src="{{ asset('img/noProfilePicture.png') }}" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 28px; max-height: 28px;">
								{% endif %}
								<span class="d-none d-md-block dropdown-toggle ps-2">
									{% if user.firstname == 'firstname' %}
										[Admin]
									{% else %}
										{{ user.firstname }}
									{% endif %}
								</span>
							</a>
							<!-- End Profile Iamge Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
								<li class="dropdown-header">
									<h6>
									{% if user.firstname == 'firstname' %}
										[Admin]
									{% else %}
										{{ user.firstname }}
									{% endif %}
									</h6>
									<span>Admin</span>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="{{ path('app_profile') }}">
										<i class="bi bi-person"></i>
										<span>My Profile</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="/">
										<i class="bi bi-gear"></i>
										<span>FrontOffice</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								{# <li>
									<a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
										<i class="bi bi-question-circle"></i>
										<span>Need Help?</span>
									</a>
								</li> #}
								{# <li>
									<hr class="dropdown-divider">
								</li> #}

								<li>
									<a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">
										<i class="bi bi-box-arrow-right"></i>
										<span>Sign Out</span>
									</a>
								</li>

							</ul>
							<!-- End Profile Dropdown Items -->
						</li>
						<!-- End Profile Nav -->

					</ul>
				</nav>
				<!-- End Icons Navigation -->

			</header>
			<!-- End Header -->

			<!-- ======= Sidebar ======= -->
			<aside id="sidebar" class="sidebar">

				<ul class="sidebar-nav" id="sidebar-nav">

					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_back')}}">
							<i class="bi bi-grid"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<!-- End Dashboard Nav -->

					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-menu-button-wide"></i>
							<span>User Management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('admin_users')}}">
									<i class="bi bi-circle"></i>
									<span>Users</span>
								</a>
							</li>


						</ul>
					</li>
					<!-- End forms Nav -->


					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-person-hearts"></i>
							<span>Guide management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('addFg')}}">
									<i class="bi bi-circle"></i>
									<span>Add guide</span>
								</a>

							</li>
							<li>
								<a href="{{ path('fetchg')}}">
									<i class="bi bi-circle"></i>
									<span>List of guides</span>
								</a>
							</li>
                            <li>
								<a href="{{ path('Bookings_stats')}}">
									<i class="bi bi-circle"></i>
									<span>Statistics</span>
								</a>
							</li>
						</ul>
					</li>
					<!-- End Icons Nav -->

					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-house"></i>
							<span>Accommodation Management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('addF1')}}">
									<i class="bi bi-circle"></i>
									<span>add accommodations</span>
								</a>
							</li>
							<li>
								<a href="{{ path('showAcc')}}">
									<i class="bi bi-circle"></i>
									<span>list of accommodations</span>
								</a>
							</li>
							

							<li>
								<a href="{{ path('fetchR')}}">
									<i class="bi bi-circle"></i>
									<span>All bookings</span>
								</a>
							</li>
							<li>
								<a href="{{ path('statAcc')}}">
									<i class="bi bi-circle"></i>
									<span>Statistics</span>
								</a>
							</li>
						</ul>
					</li>
					<!-- End Components Nav -->


					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-bank"></i>
							<span>Monument management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('addc')}}">
									<i class="bi bi-circle"></i>
									<span>Add country</span>
								</a>

							</li>
							<li>
								<a href="{{ path('country_show')}}">
									<i class="bi bi-circle"></i>
									<span>List of countries</span>
								</a>
							</li>
							<li>
								<a href="{{ path('addM')}}">
									<i class="bi bi-circle"></i>
									<span>Add Monument</span>
								</a>

							</li>
							<li>
								<a href="{{ path('monument_show')}}">
									<i class="bi bi-circle"></i>
									<span>List of Monuments</span>
								</a>
							</li>
							<li>
								<a href="{{ path('monuments_per_country')}}">
									<i class="bi bi-circle"></i>
									<span>Statistics</span>
								</a>
							</li>
						</ul>
					</li>
					<!-- End Icons Nav -->
					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-scooter"></i>
							<span>Transportation management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('createT')}}">
									<i class="bi bi-circle"></i>
									<span>Add Transport</span>
								</a>

							</li>
							<li>
								<a href="{{ path('showT')}}">
									<i class="bi bi-circle"></i>
									<span>List of Transportation</span>
								</a>
							</li>
							<li>
								<a href="{{ path('createS')}}">
									<i class="bi bi-circle"></i>
									<span>Add Subscription</span>
								</a>
							</li>
							<li>
								<a href="{{ path('showS')}}">
									<i class="bi bi-circle"></i>
									<span>List of Subscriptions</span>
								</a>
							</li>

						</ul>
					</li>


					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-tag"></i>
							<span>Categories management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('Categories_show')}}">
									<i class="bi bi-circle"></i>
									<span>Categories list</span>
								</a>

							</li>

						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
							<i class="bi bi-exclamation-triangle"></i>
							<span>Claims management</span>
							<i class="bi bi-chevron-down ms-auto"></i>
						</a>
						<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
							<li>
								<a href="{{ path('Claims_show')}}">
									<i class="bi bi-circle"></i>
									<span>Claims list</span>
								</a>

							</li>
                               <li>
								<a href="{{ path('Claims_stats')}}">
									<i class="bi bi-circle"></i>
									<span>Statistics</span>
								</a>

							</li>
						</ul>
						
					</li>

				</aside>
				<!-- End Sidebar-->

				{% block body %}{% endblock %}

				<footer class="footer" style="position: fixed;
															bottom: 0;
															width: 100%;">
					<div class="copyright">
						&copy; Copyright
						<strong>
							<span>TourJoy</span>
						</strong>. All Rights Reserved
					</div>
					<div class="credits">

						Designed by
						<a href="faceboook.com/TourJoyOfficial">Devotion</a>
					</div>
				</footer>
				<!-- End Footer -->

				<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
					<i class="bi bi-arrow-up-short"></i>
				</a>

				<!-- Vendor JS Files -->
				<script src="{{ asset('backoffice/assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/chart.js/chart.umd.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/echarts/echarts.min.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/quill/quill.min.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/tinymce/tinymce.min.js') }}"></script>
				<script src="{{ asset('backoffice/assets/vendor/php-email-form/validate.js') }}"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				<!-- Template Main JS File -->
				<script src="{{ asset('backoffice/assets/js/main.js') }}"></script>

			</body>
		</html>
	</body>
</html>
