{% extends 'BackOffice/navbars.html.twig' %}

{% block main %}
	<style>
		.container {
			padding: 50px;
		}

		.table-responsive {
			overflow-x: auto;
		}

		.table {
			min-width: 100%;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}

		.table thead th {
			color: #333;
			border-color: #dee2e6;
			font-weight: bold;
			padding: 1px;
		}

		.table tbody tr:nth-child(even) {
			background-color: #f8f9fa;
		}

		.table-striped tbody tr:nth-child(odd) {
			background-color: #f2f2f2;
		}

		.delete-btn,
		.manage-btn {
			margin-right: 5px;
			transition: transform 0.3s ease;
		}

		.delete-btn:hover,
		.manage-btn:hover {
			transform: scale(1.1);
		}

		.delete-btn {
			background-color: #dc3545;
			border-color: #dc3545;
		}

		.manage-btn {
			background-color: #007bff;
			border-color: #007bff;
		}

		.delete-btn:hover,
		.manage-btn:hover {
			background-color: #c82333;
			border-color: #c82333;
		}

		.manage-btn:hover {
			background-color: #0056b3;
			border-color: #0056b3;
		}
	</style>

	<div class="container" style="min-width: 100% ">
		<h1>User Management</h1>
        <br>
		<div class="table-responsive">
			<table class="table table-striped table-borderless datatable">
				<thead class="thead-light">
					<tr>
						<th>ID</th>
						<th>Email</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Phone Number</th>
						<th>Country</th>
						<th>Created At</th>
						<th>Modified At</th>
						<th>isVerified</th>
						<th>Roles</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.firstName }}</td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.phoneNumber }}</td>
							<td>{{ user.country }}</td>
							<td>{{ user.createdAt ? user.createdAt.format('H:i  d-m-Y') : '' }}</td>
							<td>{{ user.modifiedAt ? user.modifiedAt.format('H:i  d-m-Y') : '' }}</td>
							<td>{{ user.isVerified }}</td>
							<td>
								{% for role in user.roles %}
									{{ role }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="btn btn-danger btn-sm delete-btn">Delete</a>
								{# <button type="button" class="btn btn-primary btn-sm manage-btn" data-id="{{ user.id }}">Manage</button> #}
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
