{% extends 'FrontOffice/navbar.html.twig' %}

{% block body %}
{% block status %} 
{% endblock %}
<div class="card-body">
    <h5 class="card-title">Subscriptions</h5>

    <!-- Add subscription Button -->
    <div class="d-flex justify-content-center mb-3"> {# Center the button #}
        <form action="{{ path('choose_subscription') }}" method="post">
            {% for subscription in subscriptionList %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="selected_subscription" value="{{ subscription.id }}">
                    <label class="form-check-label">
                        {{ subscription.plan }} - {{ subscription.duration }} Days - {{ subscription.typeT }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Choose Subscription</button>
        </form>
    </div>
</div>
{% endblock %}
