<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Cancellation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #F4F1EA; /* The background color you provided */
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #2C3E50; /* Deep blue */
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
            line-height: 1.4;
            font-size: 16px;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
            font-size: 14px;
        }
        .booking-details {
            background-color: #f8f8f8;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .booking-details p {
            margin: 0;
            color: #4F4F4F; /* Dark gray */
        }
        .signature-image {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Booking Cancellation</h1>
        <p>Dear {{ user.firstName }} {{ user.lastName }},</p>
        <p>Unfortunately, your booking with our guide {{ guide.firstnameG }} {{ guide.lastnameG }} has been cancelled. We apologize for any inconvenience this may cause.</p>
        <div class="booking-details">
            <p><strong>Guide Name:</strong> {{ guide.firstnameG }} {{ guide.lastnameG }}</p>
            <p><strong>Booking Date:</strong> {{ booking.date|date('Y-m-d') }}</p>
        </div>
        <p>If you have any questions or need further assistance, please do not hesitate to contact us.</p>
        <p>Best regards,<br>TourJoy Team</p>
        
    </div>
    <div class="footer">
        &copy; {{ 'now'|date('Y') }} TourJoy. All rights reserved.
    </div>
</body>
</html>
