{% extends 'BackOffice/navbars.html.twig' %}

{% block body %}
    
<body>
    <div class="container">
        <h1>Booking Cancellation</h1>
        <p>Dear {{ user.firstName }} {{ user.lastName }},</p>
        <p>Unfortunately, your booking with our guide {{ guide.firstnameG }} {{ guide.lastnameG }} has been cancelled. We apologize for any inconvenience this may cause.</p>
        <div class="booking-details">
            <p><strong>Guide Name:</strong> {{ guide.firstnameG }} {{ guide.lastnameG }}</p>
            <p><strong>Booking Date:</strong> {{ booking.date|date('Y-m-d') }}</p>
        </div>
        <p>If you have any questions or need further assistance, please do not hesitate to contact us.</p>
        <p>Best regards,<br>TourJoy Team</p>
        
    </div>
    <div class="footer">
        &copy; {{ 'now'|date('Y') }} TourJoy. All rights reserved.
    </div>
</body>

{% endblock %}
